# Arquivos de compilação
*.o
*.a
*.hex
*.bin
*.elf
*.map

# Arquivos do Arduino IDE
.vscode/
.pio/
.pioenvs/
.piolibdeps/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente Python
.venv/
__pycache__/
*.pyc

# Arquivos de log
*.log
